*{
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
}

h1{
    font-weight: bold;
    letter-spacing: .1rem;
}


button{
    color: white;
    width: 12rem;
    margin: .8rem;
    background-color: blue;
}

button:hover{
    background-color: rgba(0, 0, 255, 0.7);
}