img{
    height: 2.5rem;
}
.book{
    position: absolute;
}
mat-toolbar{
    background-color: rgb(32, 30, 30);
    color:white;
}

.header{
    height: 10%;
}

h1{
    font-size: 1.5rem;
}


@keyframes float{
	0%,100%{
		box-shadow:0 5px 15px 0 rgb(32, 30, 30, .0);
		transform:translatey(0)
	}
	50%{
		box-shadow:0 25px 15px 0 rgb(32, 30, 30, .0);
		transform:translatey(-10px)
	}
}
.header-content{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
}

.header-content{
    animation: float 4s ease-in-out infinite;
}