
.container{
    background-color: rgba(33, 33, 34, 0.767);
    height: 85%;
}

.lista{
    background-color: rgba(61, 58, 58, 0.918);
    height: 100%;
    width: 10rem;
}

i{
    padding-right: .6rem;
}
*{
    box-sizing: border-box;
    overflow: hidden;
    border: none;
}