<mat-card class="home mat-elevation-z4">
  <mat-card-title class="title" aria-label="Seja bem vindo"> Bem vindo! </mat-card-title>
  <mat-card-subtitle class="subtitle" aria-label="Sistema para exemplificar um CRUD com Angular e Spring">Sistema para exemplificar um CRUD usando Angular e Spring
    Boot</mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
  <mat-card-title class="title" aria-label="Avisos"> Avisos </mat-card-title>
  <mat-card-subtitle class="subtitle" aria-label="Essa versão ainda não possui um design responsivo.">Essa versão inicial não possui um design totalmente responsivo, para melhor experiência recomendo que não usem dispositivos móveis.</mat-card-subtitle>
  <mat-card-subtitle class="subtitle" aria-label="O carregamento das categorias pode levar um certo tempo.">O carregamento das categorias pode levar um tempo.</mat-card-subtitle>
</mat-card>
<mat-card class="home mat-elevation-z4">
  <mat-card-title class="title" aria-label="Atualizações"> Atualizações </mat-card-title>
  <mat-card-subtitle class="subtitle" aria-label="Você pode acompanhar as atualizações do projeto no meu github, estarei deixando o link disponível neste card.">Você pode acompanhar as atualizações pelo meu GitHub, basta clicar <a href="https://github.com/joao100101/BookStore-Front" target="_blank" style="text-decoration: none; color: white;">AQUI<i class="material-icons external-link">open_in_new</i>.</a></mat-card-subtitle>
</mat-card>